h1 {
    color: red;
    text-align: center;
}

a {
    color: black!important;
    text-decoration: none!important;
}

#login-signup-section {
    background-color: linen;
}

.message-section, .event-section {
    max-width: 1140px;
}

.img-event-cards {
    height: 200px;
    object-fit: cover;
}