h1 {
    color: red;
    text-align: center;
}

a {
    color: black!important;
    text-decoration: none!important;
}

#login-signup-section {
    background-color: linen;
}

.message-section, .event-section {
    max-width: 1140px;
}

.img-event-cards {
    height: 200px;
    object-fit: cover;
}

/* --------------------------------------Events css section-----------------------------*/

.bg-color-add-event {
    background-color:#fff;
}

.add-event-heading {
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color:#fafafa;
}

.edit-cancel-btn, .add-cancel-btn {
    background-color:#e84610;
    width: 5rem;
    height: 3rem;
    margin: 1rem;
}

.edit-submit-btn, .add-submit-btn{
    background-color:rgb(52, 233, 94);
    width: 5rem;
    height: 3rem;
    margin: 1rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

/*--------------------------------- 404 Page --------------------------------*/
.error-page-sc {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 500px;}

.error-page-h1{
    margin-bottom: 20px;}

.error-page-h2{
    font-size: 400%;
    margin-bottom:20px;}

.error-page-p{
    height:100px;
    padding-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 150%;}

.errorbtn {
    width: 15rem;
    height: 3rem;
    margin: 1rem;
}

.error-container{
    background-color: #ece3d8;
    padding: 2rem;
    border-radius: 10px;
}


/*----------------- login ---------------------*/

.sign-in-heading{
    color: red;
    text-align: center;
}

.signin-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 500px;
}

.signin-container {
    background-color: #ece3d8;
    padding: 2rem;
    border-radius: 10px;
    max-width: 50%;
}

.login-btn {
    background-color:#102de8;
    width: 5rem;
    height: 3rem;
    margin: 1rem;
}

/*----------------- logout ---------------------*/

.sign-out-heading{
    color: red;
    text-align: center;
}

.sign-out-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 500px;
}

.sign-out-container {
    background-color: #ece3d8;
    padding: 2rem;
    border-radius: 10px;
    max-width: 50%;
}

.logout-btn {
    background-color:#1095e8;
    width: 5rem;
    height: 3rem;
    margin: 1rem;
}